.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post .comments {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.post .comments p {
    margin-bottom: 5px;
}

.post .comment {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.post .comment:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.post .comment-date {
    font-size: 12px;
    color: #888;
}

.post .comment-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.post .comment-replies {
    margin-left: 20px;
}

.post .reply {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.post .reply:first-child {
    margin-top: 10px;
}

.post .reply:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.post .reply:not(:first-child):before {
    margin-top: 5px;
}
